[submodule "CS3103 Computer Network Practice/Assignment/CS3103 Computer Network Practice/Assignment/GIB_A_PLS_TT_3103"]
	path = CS3103 Computer Network Practice/Assignment/CS3103 Computer Network Practice/Assignment/GIB_A_PLS_TT_3103
	url = https://github.com/Blahblahlolhahaha/GIB_A_PLS_TT_3103.git
[submodule "CS2103_Software_Engineering/ip"]
	path = CS2103_Software_Engineering/ip
	url = https://github.com/Blahblahlolhahaha/ip.git
